.solarCalcReview {
    display: grid;
    width: 90vw;
    max-width: 1200px;
    margin: 32px auto 64px auto;
    grid-template-columns: auto auto auto auto;
    row-gap: 48px;
    align-items: center;
}

.solarCalcReview > .solarCalcTxtElement {
    padding-left: 32px;
}

.solarCalcTitleElement {
    font-weight: 700;
    padding-left: 32px;
}

.changePanelReview {
    width: 90vw;
    max-width: 1200px;
    margin: 16px auto;
    text-align: left;
}

.reviewSpan {
    font-size: 20px !important;
}