.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 32px;
    min-height: calc(100vh - 100px);
    text-align: center;
}

.heroTitle {
    color: #212528;
    max-width: 1200px;
}

.heroTxt {
    max-width: 1200px;
    margin-top: 32px;
    padding: 0 32px;
    color: rgba(33, 37, 40, 0.75);
}

.heroButton {
    margin-top: 64px;
    color: #fff;
}

.heroButton:hover {
    background: #fff;
}

.heroButtonIcon {
    background: #fff;
}