.solarInfoCont {
    width: 100%;
    padding: 64px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-direction: column;
}

.solarInfoTitleCont {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.solarInfoTitle {
    font-size: 28px;
    font-weight: 700;
    color: #212528;
}

.solarInfoLine {
    width: 750px;
    max-width: 100%;
    height: 0px;
    border: 2px solid #475afe;
    border-radius: 2px;
    background: #475afe;
}

.solarInfoTxt {
    width: 90%;
    max-width: 980px;
    text-align: justify;
    color: #212528;
}

.solarInfoTxtList {
    padding-left: 16px;
}

.solarInfoButton {
    color: #fff;
    width: 240px;
}

.solarInfoButtonIcon {
    background: #fff;
}

@media screen and (max-width: 720px) {
    .solarInfoCont {
        padding: 32px 0;
    }
}