.footer {
    width: 100%;
    height: 64px;
    background: #475afe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerTxt {
    margin: 0;
    padding: 0 16px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.footerTxtSpan {
    color: #fff;
    text-decoration: none;
}

.footerTxtSpan:hover {
    color: #212528;
}

