.solarCalcTitle {
    text-align: center;
    margin: 16px 0;
    color: #212528;
    font-weight: 300; 
}

.solarCalcTxtElementCont {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 32px auto;
}

.solarCalcTxtElement {
    color: #212528;
}

.solarCalcTxtElementSpan {
    color: #25B258;
    font-size: 24px;
    margin-left: 8px;
}

.changePanelCont {
    width: 90vw;
    max-width: 1200px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
}