@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 106px;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

h5 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

p,
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 75px;
  background: #475afe;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.buttonIcon {
  margin-left: 16px;
  font-size: 20px;
  border-radius: 100%;
  color: #475afe;
  padding: 8px;
  width: 36px;
  height: 36px;
}

.calcLine {
  margin-top: 4px;
  width: 100%;
  height: 0px;
  border: 1px solid #475afe;
  border-radius: 2px;
}

.solarSelector {
  margin-left: 16px;
  width: 200px;
  cursor: pointer;
  outline: none;
  padding: 8px;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #212528;
  background: rgba(37, 178, 88, 0.1);
  border: 2px solid #25B258;
  border-radius: 10px;
}

.solarSelector:hover {
  background: rgba(37, 178, 88, 0.2);
}

.solarCalcInputElement {
    width: 150px;
    outline: none;
    padding: 8px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #212528;
    background: rgba(37, 178, 88, 0.1);
    border: 2px solid #25B258;
    border-radius: 10px;
}