.leaflet-container {
    width: 90vw;
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
}

.userDataUse {
    color: rgba(33, 37, 40, 0.75);
    font-size: 14px;
    text-align: center;
    width: 85vw;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.changePanelMap {
    width: 90vw;
    max-width: 1200px;
    margin: 16px auto;
    text-align: right;
}

@media screen and (max-width: 1023px) {
    .leaflet-container {
        height: 350px;
    }
}

@media screen and (max-width: 720px) {
    .leaflet-container {
        height: 300px;
    }
    
}