.solarPanelSelectionCont {
    width: 90vw;
    max-width: 1200px;
    margin: 32px auto;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.solarPanelStatsSection {
    width: 90vw;
    max-width: 1200px;
    margin: 16px auto;
    margin-bottom: 48px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.solarPanelStatsCont {
    width: 45%;
    max-width: 450px;
}

.solarPanelStat {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.solarPanelStatsImgCont {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solarPanelStatsImg {
    width: 100%;
}

.solarPanelStatsImgTxt {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    color: rgba(33, 37, 40, 0.75);
}

@media screen and (max-width: 1023px) {
    .solarPanelStatsImgCont {
        width: 45%;
    }

    .solarPanelStatsCont{
        width: 50%;
    }
    
}


 @media screen and (max-width: 720px) {
     .solarPanelSelectionCont {
        flex-direction: column;
        text-align: justify;
     }

     .solarPanelStatsSection{
         flex-direction: column;
     }
     
     .solarPanelStatsCont, .solarPanelStatsImgCont {
         width: 80%;
         min-width: 320px;
     }
     
 }