.infoCalcContainer {
    width: 100%;
    padding: 64px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-direction: column;
    background: rgba(33, 37, 40, 0.1);
}

.infoCalcTitleCont {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
}

.infoCalcTitle {
    color: #212528;
}

.infoCalcLine {
    width: 365px;
    height: 0px;
    border: 2px solid #475afe;
    border-radius: 2px;
}

.infoCalcInfo {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infoCalcTxtCont {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px 0;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.infoCalcTxt {
    width: 100%;
    color: #212528;
}

.infoCalcButton {
    color: #fff;
    width: 245px;
}

.infoCalcButtonIcon {
    background: #fff;
}

.infoCalcImg {
    width: 45%;
    max-width: 500px;
    height: auto;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) 
            drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) 
            drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) 
            drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) 
            drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) 
            drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

@media screen and (max-width: 1023px) {
    .infoCalcInfo {
        flex-direction: column-reverse;
        align-items: center;
    }

    .infoCalcTxtCont {
        width: 90%;
        text-align: center;
    }

    .infoCalcImg {
        width: 350px;
    }

    .infoCalcLine {
        width: 330px;
    }

}

@media screen and (max-width: 720px) {
    .infoCalcImg {
        width: 300px;
    }

    .infoCalcContainer {
        padding: 32px 0;
    }

    .infoCalcTxtCont {
        width: 95%;
    }

    .infoCalcLine {
        width: 300px;
    }

}